#mainTable {
    border: 1px solid #444444;
    border-collapse: collapse;
    font-family: 'Calibri';
}

#mainTable th {
    background-color: #5DBE08;
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
}

    #mainTable > tbody > tr > td, #mainTable > thead > tr > th {
        padding: 3px;
        border-left: 1px solid #444444;
        border-right: 1px solid #444444;
    }

/* ReSharper disable once CssBrowserCompatibility */
/* Not compatable with IE 8.0 */
    #mainTable>tbody>tr:nth-child(even) {
        background-color: #EDEDDA;
    }

table td, table th {
    text-align: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
