table {
    margin: 150px;
    padding: 30px;
    background-color: #5f5f5f;
    font-family: 'Arial';
    color: #B4AC9D;
}

table th {
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}

table td {
    padding: 7px;
}

table tr td:first-child {
    color: #ffffff;
    font-style: italic;
    padding-right: 20px;
}

a {
    color: #DCCF88;
    text-decoration: none;
}

#userStatus {
    font-size: 40px;
    color: #76B77F;
}

#inactiveSupport {
    font-weight: 600;
    color: #DE1720;
}

#answerStatus {
    font-weight: 600;
    color: #CE6B43;
}
